build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
.idea/*
*.prof
cmake-*/*
*.log
*imgui.ini
raisimGymTorch/env/data/*
.vscode/*
id_rsa
*/data/*
raisimGymTorch/env/bin/rsg*
raisimGymTorch/env/bin/*
data/*
/raisimGymTorch/env/envs/rsg_raibo_pj2/sde_test.py
/raisimGymTorch/env/bin/eigen_test
/raisimGymTorch/helper/eigen_test.cpp
